<h5>{{message.question}} <br>by: {{message.author}}<br> Additional Info: {{message.info}}.</h5>

<br>
<h2> Answers </h2>
  {{#each message.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{new-answer saveAnswer="saveAnswer" answer=model }}
  {{/each}}


<button {{action 'delete' message}}>Delete</button>
