
{{#if addNewMessage}}
<h1>Questions</h1>
 <div>
   <form>
     <div class="form-group">
       <label for="question">Question</label>
       {{input value=question id="question"}}
     </div>

     <div class="form-group">
       <label for="author">Author</label>
       {{input value=author id="author"}}
     </div>

     <div class="form-group">
       <label for="info">Info</label>
       {{input value=info id="info"}}
     </div>
     <button {{action 'saveMessage1'}}>Save</button>
   </form>
 </div>
{{else}}
  <button {{action 'messageFormShow'}}>New Question</button>
{{/if}}
