
<div class="jumbrotron">

<h1>Question and answer message board</h1>
<p>Do you think you are brave enough?Try these!</p>
<ol>
  {{#each model.message as |message|}}
  {{message-tile message=message}}
  {{/each}}
</ol>
</div>
{{new-message saveMessage2="saveMessage3"}}

<h2> All Answers </h2>

<!-- <ol>
  {{#each model.answers as |answer|}}
    <li>{{answer.question}} - {{answer.author}} - by {{answer.info}}</li>
  {{/each}}
</ol> -->

<hr>
